@import "../../vars.css";

.content {
  text-align: center;
  color: var(--color-main);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: var(--color-secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000;
  transition: 0.5s all ease-in-out;
}

.card:hover {
  transition: 0.5s all ease-in-out;
  box-shadow: 0 0 20px var(--color-main);
}

.card:hover img {
  filter: grayscale(0);
}

.text,
.bottom {
  text-align: start;
  width: 200px;
}

.bottom {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
  align-items: center;
  margin-top: 20px;
}

.bottom button {
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  background-color: var(--color-main);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  transition: 0.5s all;
}

.bottom button:hover {
  background-color: var(--color-highlight);
  transition: 0.5s all;
  box-shadow: 0 0 20px var(--color-highlight);
}

.bottom i {
  font-size: 34px;
  text-decoration: none;
  color: var(--color-main);
  border-radius: 50%;
  border-width: 0px;
}

.bottom i:hover {
  color: var(--color-highlight);
  transition: 0.5s all;
  box-shadow: 0 0 20px var(--color-highlight);
}

.bottom a {
  text-decoration: none;
  color: var(--color-secondary);
}

.content img {
  width: 200px;
  height: 150px;
  background-color: transparent;
  border-radius: 10px;
  filter: grayscale(1);
}
