@import "../../vars.css";

.container {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 240px;
}

.textContent {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: top;
}

.titleContainer {
  padding-left: 45px;
  width: 230px;
}

.sectionTitle {
  letter-spacing: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.sectionTitleMobile {
  display: none;
}

.bioContainer {
  padding: 0 30px;
  width: 65vw;
  text-align: justify;
  box-sizing: border-box;
}

.title {
  font-size: 18px;
}

.presentation {
  padding-top: 60px;
  max-width: 620px;
  font-size: 16px;
}

.gradient0 {
  color: var(--color-secondary);
}

.gradient1 {
  color: var(--color-gradient1);
}

.gradient2 {
  color: var(--color-gradient2);
}

.gradient3 {
  color: var(--color-gradient3);
}

.gradient4 {
  color: var(--color-gradient4);
}

.gradient5 {
  color: var(--color-gradient5);
}

.callToActionContainer {
  right: 0;
  height: fit-content;
  position: absolute;
}

.callToAction {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.informationBtn {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.rectangle {
  width: 70px;
  height: 500px;
  background-color: var(--color-secondary);
  border-radius: 200px 0 0 0;
}

.toggle {
  width: 60px;
  height: 80px;
  border: none;
  border-radius: 100px 0 0 100px;
  background-color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
  font-size: 24px;
  color: var(--color-main);
  transition: 0.5s width ease-in-out;
}

.toggle:hover {
  background-color: var(--color-secondary);
  color: var(--color-highlight);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s width ease-in-out;
}

.toggle:hover .textInformation {
  display: block;
  margin: 0 20px;
}

.toggleContent {
  margin-left: 20px;
}

.textInformation {
  font-size: 18px;
  display: none;
  white-space: nowrap;
}

@media screen and (max-width: 920px) {
  .container {
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  .callToActionContainer {
    display: none;
    position: relative;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .sectionTitle,
  .sectionTitleMobile {
    letter-spacing: 20px;
    display: flex;
    flex-direction: column-reverse;
    row-gap: 0px;
  }

  .sectionTitle {
    display: none;
    text-align: center;
  }

  .bioContainer {
    padding: 38px;
    width: fit-content;
  }

  .title {
    text-align: center;
    font-size: 16px;
  }

  .presentation {
    text-align: justify;
    font-size: 15px;
    padding-top: 20px;
  }
}
