@import "../../vars.css";

.main {
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--color-secondary) 0%,
    var(--color-secondary) 20%,
    var(--color-main) 20%,
    var(--color-main) 95%,
    var(--color-secondary) 95%,
    var(--color-secondary) 100%
  );
  display: flex;
  align-items: center;
  padding: 40px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding-block: 16px 48px;
}

/*====================  PROFILE PICTURE  ====================*/

.profile {
  width: 30vw;
  height: 30vw;
  background-color: var(--color-main);
  border: 15px solid var(--color-secondary);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s;
  margin-left: 2vw;
}

.picture {
  width: 25vw;
  height: 25vw;
  background-color: var(--color-secondary);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: position 0.5s ease-in-out;
}

/*====================  BIO/INTRO  ====================*/

.bio {
  text-align: center;
  font-size: 1.5vw;
  margin: 0 22vw 0 13vw;
  justify-content: center;
}

.socialMedia {
  margin: 2vw;
  display: flex;
  padding-top: 2vw;
  align-items: center;
}

.description {
  margin-top: 0.1vw;
}

.description p {
  margin-top: 2vw;
}

.roundBtn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 2.5vw;
  height: 3.3vw;
  border-radius: 50%;
  border: 0px;
  color: var(--color-secondary);
  margin: 0 1.3vw;
  padding-top: 0.6vw;
  background-color: transparent;
}

.rectangleBtn {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  margin: 0 1.3vw;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 0.9vw;
}

.rectangleBtn:hover,
.roundBtn:hover {
  background-color: var(--color-highlight);
  transition: 0.5s;
}

.socialMediaLink {
  text-decoration: none;
  font-size: 4vw;
  color: var(--color-secondary);
}

/*====================  CALL TO ACTION  ====================*/

.callToAction button {
  width: 8vw;
  height: 8vw;
  background-color: var(--color-secondary);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  justify-content: center;

  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  will-change: filter;
  transition: filter 300ms;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.callToAction button:hover {
  transition: 0.5s;
  filter: drop-shadow(0 0 32px var(--color-highlight));
  border: 2.5px solid var(--color-highlight);
}

.contact {
  color: var(--color-highlight);
  font-size: 2.5vw;
  rotate: 270deg;
  justify-content: center;
  align-items: center;
}

.toggle {
  color: var(--color-main);
  text-decoration: none;
  padding: 15px;
}

.toggle:hover {
  color: var(--color-highlight);
  filter: drop-shadow(0 0 22px var(--color-highlight));
}

.elipse1 {
  width: 20vw;
  height: 200px;
  background-color: var(--color-secondary);
  border-radius: 0 0 400% 0;
}

.elipse2 {
  width: 5vw;
  height: 5vw;
  background-color: var(--color-secondary);
  border-radius: 0 0 0 100%;
}

@media screen and (max-width: 920px) {
  .home {
    height: 850px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .main {
    background-image: linear-gradient(
      to bottom,
      var(--color-secondary) 0%,
      var(--color-secondary) 20%,
      var(--color-main) 20%,
      var(--color-main) 100%
    );
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 0px;
  }

  .container {
    padding-bottom: 0px;
  }

  .elipse1,
  .elipse2 {
    display: none;
  }

  .picture {
    width: 250px;
    height: 250px;
  }

  .profile {
    width: 300px;
    height: 300px;
  }

  .bio {
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
  }

  .description p {
    margin-top: 30px;
  }

  .socialMediaLink {
    font-size: 48px;
  }

  .socialMedia {
    margin: none;
    padding-top: 30px;
    justify-content: center;
    gap: 20px;
  }

  .roundBtn,
  .rectangleBtn {
    width: 33px;
    height: 33px;
    border: none;
  }

  .callToAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
  }

  .callToAction button {
    width: 80px;
    height: 80px;
  }

  .contact {
    rotate: 0deg;
    width: 30px;
  }

  .toggle {
    font-size: 38px;
  }
}
