:root {
    /* colors */
    --color-5: #0D1321;
    --color-4: #1D2D44;
    --color-3: #3E5C76;
    --color-2: #748CAB;
    --color-1: #F0EBD8;

    /* fonts */
    --font-titillium-web: "Titillium Web";
}