:root {
  --color-main: #ffffff;
  --color-secondary: #2d2a32;
  --color-highlight: #ddd92a;

  --color-gradient1: #b0afb6;
  --color-gradient2: #c1c0c8;
  --color-gradient3: #d2d1df;
  --color-gradient4: #e3e2e7;
  --color-gradient5: #f4f3ef;

  --font-lekton: "Lekton";
}
