:root {
    /* colors */
    --color-darker-blue: #0D1321;
    --color-dark-blue: #1D2D44;
    --color-main: #3E5C76;
    --color-light-blue: #748CAB;
    --color-light-sand: #F0EBD8;

    /* fonts */
    --font-titillium-web: "Titillium Web";
}